html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;}

form{
    background-color: rgba(107, 105, 108, 0.1);
    padding: 2%;
    width: 500px;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    
}

h2{
   color: #713bde;
   font-size: 40px;
}

#container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    
}


 #title{
    flex-direction: column;
 }

.btn{
    width: 100px;

}
#btns{
    display: flex;
    height: 200px;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    
}
.linha{
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;

}

.coluna{
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    margin: 0 auto;
    text-align: justify;

}

b{
    color: #713bde;
}

#title{
    width: 30%;
}

button{
    height: 50px;
    font-size: large;
    border: 1px solid #713bde;
    color: #713bde;
}
.clear{
    border: none;
    color: white;
    background-color:#713bde;
}
.read{
    width: 200px;
    height: 25px;
}
input[type=text] {
    background-color: #713bde73;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.input{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.txt{
    width: 200px;
    height: 25px;
}